html{
    height:100%;
}
body{
    display: flex;
    background-color: black;
    border: 0;
    margin: 0;
    height:100%;
}

.gridcontainer{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);;
}

.square{
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,15%)  
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }